.app-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2 rem;
}

header{
  margin-bottom: 2rem;
  text-align: center;
}

#h1{
  font-size: 2.5 rem;
  color: #111827;
}

.dashboard{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

